# Allow global installs without root privileges
unsafe-perm=true

# Ensure packages are installed with the correct Node.js version
engine-strict=true

# Use legacy peer deps to avoid issues with npm 7+
legacy-peer-deps=true